<div class="events">
  <div class="events__container">
    <div class="events__list">
      <app-event-navigation
        [(_sortCriteria)]="sortCriteria"
        [appId]="appId">
      </app-event-navigation>
      <div *ngIf="!isEmpty" class="events__list__table">
        <table class="highlight">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Extra information</th>
            <th>Time</th>
            <th></th>
          </tr>
          </thead>
          <ng-container *ngFor="let event of events">
            <tbody
              app-event-item
              (updateEventItemEvent)="updateEvent($event)"
              (deleteEventItemEvent)="deleteEvent($event)"
              [event]="event">
            </tbody>
          </ng-container>
        </table>
      </div>
      <p *ngIf="isEmpty" class="events__list__table_empty">Please, add new events</p>
    </div>
  </div>
</div>
<app-pagination
  [(pageCriteria)]="pageCriteria"
  [elementAmount]="eventsAmount">
</app-pagination>
