.events{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #d1c4e9;
  height: calc(100vh - 64px - 49px);
  overflow: auto;
}
.events__container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100vh - 64px - 49px);
  width: 100vw;
}
.events__list{
  width: 60%;
  margin: 0 auto;
  border-radius: 2px;
  -webkit-box-shadow: 13px 16px 15px 3px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 13px 16px 15px 3px rgba(34, 60, 80, 0.4);
  box-shadow: 13px 16px 15px 3px rgba(34, 60, 80, 0.4);
}
.events__list__table{
  background-color: #ffffff;
  max-height: 514px;
  overflow: auto;
}
.events__list__table_empty{
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  background-color: #ffffff;
}
