<app-stats-form
  *ngIf="isStatFormOpened"
  (submitForm)="submitStatsForm($event)"
  (closeForm)="closeStatsForm()">
</app-stats-form>
<div class="chart__container">
  <div class="nav">
    <span (click)="openCreateEventForm()">
      <i class="material-icons small nav__icon_add">add</i>
    </span>
    <span (click)="openStatsForm()">
      <i class="material-icons small nav__icon_setting">settings</i>
    </span>
  </div>
  <canvas width="500" height="500" class="chart" #chart></canvas>
</div>
