<div class="apps">
  <div class="apps__container">
    <div class="apps__list">
      <app-search-panel
        *ngIf="isSearchPanelShown"
        (closeEvent)="closePanel()"
        (searchEvent)="searchApps($event)">
      </app-search-panel>
      <app-app-navigation
        *ngIf="!isSearchPanelShown"
        [(_sortCriteria)]="sortCriteria"
        (openPanelEvent)="openPanel()">
      </app-app-navigation>
      <div *ngIf="!isEmpty" class="apps__list__table">
        <app-app-item
          *ngFor="let app of apps"
          [app]="app"
          (deleteApp)="retrieveApps()">
        </app-app-item>
      </div>
      <p *ngIf="isEmpty" class="apps__list__table_empty">Please, add new apps</p>
    </div>
  </div>
</div>
<app-pagination
  [(pageCriteria)]="pageCriteria"
  [elementAmount]="appsAmount">
</app-pagination>
