<div class="apps__list__table__app"
     (mouseenter)="showActions()"
     (mouseleave)="hideActions()">
  <div class="apps__list__table__app__title">
    <div class="apps__list__table__app__name">
      <span>{{app!.id}}</span>.
      <span>{{app!.name}}</span>
    </div>
    <div class="apps__list__table__app__buttons"
      [ngClass]="{'hidden' : !isHovered}">
      <span class="apps__list__table__app__action"
            (click)="openUpdateForm()">
        <i class="material-icons prefix apps__list__table__app__icon">edit</i>
      </span>
      <span class="apps__list__table__app__action"
            (click)="deleteAppItem()">
        <i class="material-icons prefix apps__list__table__app__icon">delete</i>
      </span>
      <span class="apps__list__table__app__action"
            (click)="openAppChart()">
        <i class="material-icons prefix apps__list__table__app__icon">show_chart</i>
      </span>
    </div>
  </div>
  <p class="apps__list__table__app__text__time">{{app!.creationTime}}</p>
</div>
