.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 27px;
  background-color: #9575cd;
  padding: 10px 30px 10px 30px;
  color: #ffffff;
}
.navigation__text{
  margin: 0;
  padding: 0;
}
.navigation__dropdown{
  margin: 0;
  padding: 0;
}
.navigation__dropdown__descending{
  cursor: pointer;
}
.navigation__buttons{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.navigation__buttons__container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.navigation__buttons__add{
  margin-left: 5px;
  display: block;
  color: #ffffff;
  padding: 0;
  width: 28px;
  height: 28px;
}
.navigation__buttons__add:hover{
  cursor: pointer;
  color: #d1c4e9;
}
.navigation__buttons__chart{
  margin-right: 5px;
  display: block;
  color: #ffffff;
  padding: 0;
  width: 28px;
  height: 28px;
}
.navigation__buttons__chart:hover{
  cursor: pointer;
  color: #d1c4e9;
}
.navigation__buttons__search{
  margin-right: 5px;
  display: block;
  color: #ffffff;
  padding: 0;
  width: 28px;
  height: 28px;
}
.navigation__buttons__search:hover{
  cursor: pointer;
  color: #d1c4e9;
}
.hidden{
  display: none;
}
