<app-dropdown [(sortCriteria)]="sortCriteria"></app-dropdown>
<div class="navigation">
  <p class="navigation__text">Events</p>
  <p class="navigation__dropdown">
    <span class="dropdown-trigger" data-target='dropdown1'>Sort by</span>
    <span class="navigation__dropdown__descending" (click)="changeDescending()">
      <i class="material-icons" [ngClass]="{'hidden': sortCriteria.isDescending}">arrow_drop_down</i>
      <i class="material-icons" [ngClass]="{'hidden': !sortCriteria.isDescending}">arrow_drop_up</i>
    </span>
  </p>
  <div class="navigation__buttons">
    <div class="navigation__buttons__container">
      <span class="navigation__buttons__chart" (click)="openChart()">
        <i class="material-icons small">show_chart</i>
      </span>
      <span class="navigation__buttons__add" (click)="createEvent()">
        <i class="material-icons small">add</i>
      </span>
    </div>
  </div>
</div>
